/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*** General ***/
body {
	margin-top: .5em;
	font-family: Arial;
	font-size: 1em;
}

h1, h2, h3 {
	text-align: center;
}

h1.title {
	font-family: 'Inder';
	font-size: 1.7em;
	color: #333;
}

h2,
h2.block-title {
	font-family: 'Josefin Sans';
	background-color: #ee9400;
	padding: .3em 0em .1em 0em;
	font-size: 1.4em;
	border-radius: 3px;
	margin-bottom: .5em !important;
	color: white;
}

h2 > a {
	background-color: #ee9400;
	color: white !important;
	display: block;
	padding: .3em 0em .1em 0em;
	border-radius: 3px;
} h2 a:hover {
	background-color: #ffa500;
}

h3 {
	font-family: Arial;
	font-size: 1em;
	margin-bottom: 0em;
	text-transform: uppercase;
	text-decoration: underline;
}

a {
	text-decoration: none !important;
}

ul, ol {
	margin-left: 24px;
}

/* Form Elements */
input, textarea {
	max-width: 100%;
	font-size: 1.2em !important;
}
input[type="submit"],
#phone-number {
	padding: .5em !important;
	font-size: 1.2em !important;
	background: #159 !important;
	color: white !important;
	border-radius: 3px !important;
	text-decoration: none;
	text-shadow: none;
	border: 0px;
	font-weight: 300;
}
input[type="submit"] { /* Because otherwise the padding on the phone number pushes it out */
	width: 100%;
} input[type="submit"]:hover {
	background-color: #37b !important;
}

/*** Branding ***/
#zone-header-wrapper {
	margin-bottom: .5em;
}
#logo {
	width: 100px;
}
h2.site-name,
h1.site-name {
	width: 175px;
	background-color: transparent !important;
	text-align: left;
	font-size: 2.3em;
	margin: 0em;
	padding: 0em;
}
h2.site-name a,
h1.site-name a {
	color: #333 !important;
	font-family: 'Inder';
	text-transform: uppercase;
	padding: 0em;
	background-color: transparent;
}

/* HIDE Top Menu, Breadcrumb, Free eBook, Newsletter Signup, Schedule Appointment */
#section-header #zone-menu-wrapper,
#breadcrumb,
#region-sidebar-first > div > .block,
#zone-footer .region-footer-second,
#zone-footer .region-footer-third {
	display: none;
}

/* HIDE Free Consultation, Location, Hours on interior pages */
body.not-front #region-header-callout,
body.not-front #region-header-contact {
	display: none;
}

/*** Free Consultation Callout ***/
#region-header-callout {
	margin-top: .5em;
}
#region-header-callout h2 {
	padding: 0em;
}
#region-header-callout h2 > a {
	background-color: #c30 !important;
}	#region-header-callout h2 > a:hover {
	background-color: #f30 !important;
}
#region-header-callout #request-free-consultation-desktop {
	display: none;
}

/*** Contact Information ***/
#region-header-contact {
	text-align: center;
}
#phone-number {
	display: block;
	font-weight: 700;
} #phone-number:hover {
	background-color: #37b !important;
}

/*** Bottom Menu ***/
#zone-menu-secondary {
	margin-bottom: .5em;
}
#zone-menu-secondary-wrapper #superfish-2 > li {
	width: 100%;
	margin: 0em;
}
#zone-menu-secondary-wrapper #superfish-2 > li > a {
	display: block;
	float: none;
	width: 100%;
	padding: .5em 0em;
	border-radius: 3px;
	background-color: #159;
	color: white;
	margin-bottom: .3em;
	text-indent: .5em;
}

/*** Home Page ***/
/* HIDE Page Title, Tabs, Slideshow, Fitness Tips & Nutrition Tips, Free eBook, Helpful Links */
body.front h1.title,
body.front ul.tabs,
body.front #region-content #block-views-nodequeue-1-block-1,
body.front #region-content > div > .block + .block,
body.front #region-sidebar-first > div > .block + .block {
	display: none;
}

#zone-footer-wrapper {
	padding-top: 1em;
	background-color: #333;
	color: white;
}

#zone-footer-wrapper h2 {
	font-size: 1.5em;
	background-color: transparent !important;
	color: #ffa500;
}

/*** MailChimp Form ***/
#zone-footer-wrapper #mc_embed_signup {
	background-color: #333 !important;
	color: white !important;
}
#mc_embed_signup input[type="submit"] {
	padding: .3em !important;
	font-size: 1.3em !important;
	background: #159 !important;
	color: white !important;
	border-radius: 3px !important;
	text-decoration: none;
	text-shadow: none;
	border: 0px;
	font-weight: 300;
	width: 100%;
	height: auto;
	vertical-align: middle;
} #mc_embed_signup input[type="submit"]:hover {
	background-color: #37b !important;
}
#mc_embed_signup input,
#mc_embed_signup .mc-field-group {
	width: 100% !important;
	font-size: 1.2em !important;
}

/*** Nodes ***/
body.not-front #block-system-main {
	margin-bottom: 1em;
}
body.not-front #region-content h2,
body.not-front #region-content .view h2 {
	text-align: center;
	color: #ee9400;
	background-color: transparent !important;
	border-bottom: 1px solid #ee9400;
	border-radius: 0px;
}
body.not-front #region-content h2 a {
	background-color: transparent !important;
	color: #ee9400 !important;
}

.node-service .field-name-field-image {
	display: none;
}
.node-service .field-name-field-pricing {
	text-align: right;
	font-weight: 700;
}

/*** Views ***/
.view-services .views-field-field-pricing {
	font-weight: 700;
	text-align: right;
}
.view-services .views-field-field-image {
	display: none;
}
.view-results .views-row {
	margin-bottom: 1em;
}
.view-results .views-field-body p:last-child {
	margin-bottom: 0em;
}
.view-results .views-field-field-who {
	font-weight: 700;
}
