/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* General */
body {
	font-family: Arial;
}

h1.title {
	font-family: 'Tenor Sans';
	font-weight: 700;
}

.site-name {
	font-family: 'Syncopate';
	text-transform: uppercase;
}

h2 {
	font-family: 'Tenor Sans';
	text-transform: uppercase;
}

/*** Home Page ***/

body.front h1.title,
body.front ul.tabs {
	display: none;
}

/* Slideshow - 620px by 349px */
body.front #region-content #block-views-nodequeue-1-block-1 {
	height: 349px;
	margin-bottom: 1em;
}
body.front .region-content #block-views-nodequeue-1-block-1 .views-field-body {
	position: relative;
	top: -5em;
	left: 1em;
	font-family: 'Syncopate';
	color: white;
	text-shadow: 1px 1px #000000;
	font-size: 2em;
}

/* Fitness Tips & Nutrition Tips */
body.front #region-content > div > .block + .block {
	width: 300px;
	float: left;
}
body.front #region-content > div > section.block.even {
	margin-right: 20px;
}

/* Free eBook */
body.front #region-sidebar-first > div > .block {
	height: 349px;
	margin-bottom: 1em;
}

/* Helpful Links */
body.front #region-sidebar-first > div > .block + .block {
	height: 250px;
}

/* Fitness Tips, Nutrition Tips & Helpful Links */
body.front #region-content > div > .block + .block h2,
body.front #region-sidebar-first > div > .block + .block h2 {
	background-color: #ccc;
	padding: .5em;
}

/*** Header ***/
#zone-header {
	margin-bottom: .5em;
}
#zone-header-wrapper {
	background-color: #fff;
}

#region-branding .logo-img {

}

#region-branding .site-name {
	width: 200px;
}

/* Top Menu */
#zone-menu {
	margin-bottom: .5em;
}
#zone-menu-wrapper #superfish-1 > li > a {
	display: block;
	padding: .7em 2.5em;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 600;
	border-radius: .5em;
} #zone-menu-wrapper #superfish-1 > li > a:hover {
	background-color: #ccc;
}

/* Content */
#zone-content-wrapper {
	top-margin: 1em;
	background-color: #cfc;
}

/* Bottom Menu */
#zone-menu-secondary-wrapper {
	background-color: #ccf;
}

/* Footer */
#zone-footer-wrapper {
	background-color: #ccc;
}