/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*** General ***/
body {
	font-family: Arial;
}

h1.title {
	font-family: 'Tenor Sans';
	font-weight: 700;
}

h2 {
	font-family: 'Tenor Sans';
	text-transform: uppercase;
	background-color: #ccc;
	padding: .5em;
	border-radius: .5em;
}

/* Form Elements */
input, textarea {
	max-width: 100%;
}

/*** Branding ***/
#zone-header-wrapper {
	margin-bottom: 1em;
}
#logo {
	width: 100px;
}
.site-name {
	font-family: 'Syncopate';
	text-transform: uppercase;
	font-size: 2.4em !important; /* Because otherwise omega-text.css overrides? Lame! */
	width: 175px;
	background-color: transparent;
	padding: 0em;
}

/* HIDE Top Menu, Breadcrumb, Free eBook, Newsletter Signup, Schedule Appointment */
#section-header #zone-menu-wrapper,
#breadcrumb,
#region-sidebar-first > div > .block,
#zone-footer .region-footer-second,
#zone-footer .region-footer-third {
	display: none;
}

/*** Free Consultation Callout ***/
#region-header-callout {
	margin-top: .5em;
}

/*** Contact Information ***/
#phone-number {
	display: block;
	padding: .5em;
	background-color: #36c;
	font-size: 1.5em;
	border-radius: 1em;
	text-align: center;
	color: white;
	text-decoration: none;
	font-weight: 700;
}

/*** Top Menu ***/
#zone-menu-secondary {
	margin-bottom: .5em;
}
#zone-menu-secondary-wrapper #superfish-2 > li {
	width: 100%;
	margin: 0em;
}
#zone-menu-secondary-wrapper #superfish-2 > li > a {
	display: block;
	float: none;
	width: 100%;
	padding: .5em 0em;
	text-decoration: none;
	font-size: 1.1em;
	border-radius: .5em;
	background-color: #ccc;
	margin-bottom: .3em;
	text-indent: .5em;
}

/*** Home Page ***/
/* HIDE Page Title, Tabs, Slideshow, Fitness Tips & Nutrition Tips, Free eBook, Helpful Links */
body.front h1.title,
body.front ul.tabs,
body.front #region-content #block-views-nodequeue-1-block-1,
body.front #region-content > div > .block + .block,
body.front #region-sidebar-first > div > .block + .block {
	display: none;
}