/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/*** General ***/

h1.title {
	font-size: 2.2em;
}

/* DISPLAY Schedule Appt */
#zone-footer .region-footer-third {
	display: block;
}

/*** Branding ***/
#zone-header-wrapper {
	margin: .5em 0em;
}
#logo {
	width: 125px;
}
h1.site-name,
h2.site-name {
	width: 150px;
	background-color: transparent;
	text-align: left;
	font-size: 3em;
	margin: 0em;
	padding: 0em;
}
h1.site-name a,
h2.site-name a {
	color: #333;
	font-family: 'Inder';
	text-transform: uppercase;
	padding: 0em;
}

/*** Free Consultation Callout ***/
#region-header-callout {
	float: left;
	width: 250px;
}

/*** Contact Information ***/
#region-header-contact {
	display: block;
	width: 250px;
	float: left;
	clear: none;
	text-align: left;
}
#region-header-contact h3 {
	display: none;
}
#region-header-contact p {
	margin-bottom: 0em;
}
#region-header-contact #location,
#region-header-contact #hours {
	width: auto;
	float: none;
	top: 0px;
}
#phone-number {
	margin-top: 8px;
	width: 100%;
	float: none;
	margin-bottom: .5em;
	padding: .4em .4em !important;
	text-align: center;
}

/*** Top Menu ***/
#zone-menu-wrapper #superfish-1 > li > a {
	padding: 1em 2em 1em 2em;
}

/*** Home Page ***/
/* DISPLAY Slideshow, Fitness Tips & Nutrition Tips, Helpful Links */
body.front #region-content #block-views-nodequeue-1-block-1,
body.front #region-content > div > .block + .block,
body.front #region-sidebar-first > div > .block + .block {
	display: block;
}

/* Slideshow - 620px by 349px */
body.front #region-content #block-views-nodequeue-1-block-1,
body.front #region-content #block-views-nodequeue-1-block-1 img {
	width: 620px;
	height: 349px;
}
body.front .region-content #block-views-nodequeue-1-block-1 .views-field-body {
	width: 550px;
	font-size: 2em;
}

/* Fitness Tips & Health Tips */
body.front #region-content > div > .block + .block {
	width: 300px;
	float: left;
}

/* Free eBook */
body.front #region-sidebar-first > div > .block:first-child {
	height: 349px;
}
body.front #ebook-desktop {
	display: block;
}
#ebook-tablet {
	display: none;
}

/*** Footer ***/
#zone-footer-wrapper h2 {
	font-size: 1.4em;
}

#zone-footer .region-footer-first,
#zone-footer .region-footer-second,
#zone-footer .region-footer-third {
	width: 286px;
	float: left;
	height: 550px;
}

#zone-footer .region:last-child {
	padding-left: 1em;	
	border-left: 1px dotted #666;
}

/*** Views ***/
.view-services .views-field-field-image,
.node-service .field-name-field-image {
	display: block;
	float: left;
	margin: 0em 1em .5em 0em;
}
.view-services .views-field-title {
	clear: left;
}
.view-services .views-field-body p:last-child {
	margin-bottom: 0em;
}
.view-services .views-field views-field-body,
.view-services .views-field views-field-view-node {
	display: inline;
}